@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
	--color-p-green: #91f5ad;
	--color-p-blue: #0070bb;
	--color-s-white: #ffffff;
	--color-s-black: #1a1a1a;
	--color-s-blue-darker: #0257a5;
	--color-s-1: #6dd4b1;
	--color-s-2: #49b3b4;
	--color-s-3: #2592b8;
}

html,
body {
	font-family: 'Dosis', sans-serif;
	color: #1a1a1a;
}
