@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import 'tailwindcss';

.dosis-font{
    font-family: "Dosis", sans-serif;
}

html, body{
    font-family: "Dosis", sans-serif;
}